/* Start Elastic carousel */
.container {
    margin: 25vh 5vw;
    width: 90%;
    padding: 20px;
    border-radius: 15px;
  }
  
  .container h1 {
    
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #000000;
padding-bottom: 20px;
  }
  
  .carousWrapper {
    width: 80%;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    background-color: rgba(4, 4, 4, 0.228);
    border-radius: 15px;
  }
  .title h3 {
    padding: 2rem;
    color: #fff;
  }
  .backgroundImage{
    width:100%;
    height:auto;
  }
  /* End Elastic carousel */
  